@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');

.navigation {
    display: flex;
    justify-content: end;
    margin: auto;
    weight:100%;
    height: 55px;
    box-shadow: 0px 0px 4px 4px #00000040;

}

.navigation>div {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    margin-top: 16px;
    margin-right: 4%;
    cursor: pointer;
}

.box {
    width: 1203px;
    height: 385px;
    top: 104px;
    left: 119px;
    border-radius: 15px;
    border: 1px;
    margin: auto;
    margin-top: 30px;
    display: flex;
}

.box>div {
    width: 361px;
    height: 361px;
    top: 104px;
    left: 119px;
    border-radius: 15px;
    margin: 20px;
}

.box1 {
    background: linear-gradient(135.38deg, #3300FF 0%, #FA00FF 98.32%);
}

.box2 {
    background-image: url(ecell_logo.jpg);
    background-size: contain;
}

.box3 {
    width: 385px;
    height: 385px;
    top: 104px;
    left: 937px;
    border-radius: 15px;
    background: rgba(217, 217, 217, 1);
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.25) inset;
}

.box3>div {
    display: flex;
    margin: 14px;
}

.box3>div>div {
    cursor: pointer;
    width: 100px;
    height: 100px;
    top: 138px;
    left: 973px;
    border-radius: 15px;
    background: rgba(0, 64, 122, 1);
    margin: auto;
}

.boxx {
    width: 800px;
    height: 385px;
    top: 104px;
    left: 119px;
    border-radius: 15px;
    border: 1px;
    margin: auto;
    margin-top: 30px;
    display: flex;
}

.boxx>div {
    width: 361px;
    height: 361px;
    top: 104px;
    left: 119px;
    border-radius: 15px;
    margin: 20px;
}

.img
{
    background-image: url(profile.jpg);
    background-size: contain;
}
.content{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    margin :auto;
    justify-content: center;
}

.insta {
    color: red;
    cursor: pointer;
}

